* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3px;
}

.section {
    border: 1px solid red;
    
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}
#header {
    border: 1px solid red;
    display: inline-block;
    flex: 0 1 100%;
}
#element-container {
    border: 1px solid red;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex: 0 1 100%;
}
.escutarbotao, .lojabotao {
    font-size: 30px;
    font-family: 'Diabo Musica';
    background-color: transparent;
    color: white;
    border: transparent;
    
    padding: 10px;
    transition: 0.2s all;
}
.escutarbotao:hover, .lojabotao:hover {
    background-color: white;
    color: black;
}

.parallax::after {
    content: " ";
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateZ(-3px) scale(2.2);
    z-index: -1;
}
.static {
    background: red;
}
.bg1::after {
    background-image: url(/imagens/ETATUALIZADO.jpg);
}